flow.json
[{"id":"de680b96.53f4e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f9563306.0b405","type":"inject","z":"de680b96.53f4e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":240,"wires":[["75a5bf71.6fbdf","73e343fe.ad308c"]]},{"id":"75a5bf71.6fbdf","type":"debug","z":"de680b96.53f4e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":180,"wires":[]},{"id":"73e343fe.ad308c","type":"debug","z":"de680b96.53f4e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":280,"wires":[]}]